{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="page-galerie">
        <div class="wrapper">
            <article>
                <div class="content-article">
                    <div>
                        <h1>{{ title }}</h1>
                        {{ post.get_field('texte') }}
                        {% if mobile_device %}
                            <a class="btn-desktop" href="{{ post.get_field('lien_bouton') }}">
                        {% else %}
                            <a class="fancybox-smartcapture iframe-btn fancybox fancybox.iframe btn-desktop" href="{{ post.get_field('lien_bouton') }}">
                        {% endif %}
                                Télécharger le portfolio
                            </a>
                    </div>
                </div>
                <div class="img">
                    <img src="{{TimberImage(post.get_field('image_top')).src}}">
                </div>
            </article>
            {% set counter = 1 %}
            <article>
                {% for item in post.get_field('liste_des_images') %}
                    {% if counter >= 3 %}
                        </article>
                        <article>
                        {% set counter = 1 %}
                    {% endif %}
                    {% if counter <= 1 %}
                        <div class="first">
                            <img src="{{TimberImage(item.image).src}}">
                        </div>
                    {% else %}
                        <div class="second">
                            <img src="{{TimberImage(item.image).src}}">
                        </div>
                    {% endif %}
                    {% set counter = counter+1 %}
                {% endfor %}
            </article>
        </div>
    </section>
{% endblock %}