{% set class_body = "homepage" %}
{% extends 'partials/base.html.twig' %}
{% block content %}
    <section id="slider" class="swiper-container">
        <div class="slider-informations">
            <p>Portes ouvertes</p>
            <p>samedi 16 mars 2019 | 10h-16h</p>
            <p>Rte Principale 61 | 1628 Vuadens</p>
        </div>
        <div class="swiper-wrapper">
            {% for item in post.get_field('slider') %}
                <div class="swiper-slide" style="background-image: url('{{ item.slide }}');"></div>
            {% endfor %}
        </div>
        <div class="slider-content">
            <div class="wrapper">
                <h1>
                    {{ post.get_field('slider_title') }}
                </h1>
                {{ post.get_field('slider_content') }}
            </div>
        </div>
    </section>
    <section class="page-content">
        <div class="wrapper">
            {% for item in post.get_field('contenu_de_la_page') %}
                    <article>
                        <div class="content-article">
                            <div>
                                <h1>{{ item.titre_de_la_ligne }}</h1>
                                {{ item.texte_de_la_ligne }}
                            </div>
                        </div>
                        <div class="img">
                            <img src="{{TimberImage(item.image_de_la_ligne).src}}" alt="{{ item.titre_de_la_ligne }}">
                        </div>
                    </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block footer_js %}
    <script src="{{template_path_uri}}/node_modules/swiper/dist/js/swiper.min.js"></script>
    <script src="{{template_path_uri}}/js/homeslider.js"></script>
{% endblock %}