{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="page-content">
        <div class="wrapper">
            {% for item in post.get_field('contenu_de_la_page') %}
                    <article>
                        <div class="content-article">
                            <div>
                                <h1>{{ item.titre_de_la_ligne }}</h1>
                                {{ item.texte_de_la_ligne }}
                            </div>
                        </div>
                        <div class="img">
                            <img src="{{TimberImage(item.image_de_la_ligne).src}}" alt="{{ item.titre_de_la_ligne }}">
                        </div>
                    </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}