{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="page-content">
        <div class="wrapper">
            <article>
                <div class="content-article">
                    <div>
                        <h1>{{ title }}</h1>
                        {{ post.get_field('texte_page') }}
                        <a class="btn-desktop btn-download" href="{{ post.get_field('lien_bouton_page') }}">
                            Demander la liste des prix
                        </a>
                    </div>
                </div>
                <div class="img">
                    <img src="{{TimberImage(post.get_field('image_page')).src}}" alt="{{ title }}">
                </div>
            </article>
        </div>
    </section>
{% endblock %}