{% include 'templates/header.html.twig' %}
{% block style %}{% endblock %}
   
     <div id="main-content" class="wrapper-full">
            {% block content %}{% endblock %}
     </div>

{% block script %}{% endblock %}
{% include 'templates/footer.html.twig' %}