        <section class="wrapper-full contact">
            <div class="title">
              <h1>Contact</h1>
            </div>
            <div class="row-pages">
               <article class="width-100">
                   {{post.content}}
               </article>
            </div>
            <div class="infos"><span class="infos">* champs obligatoires</span></div>
        </section>