    </main>
    <footer class="pages-interne-footer">
        <div class="footer-inner">
        	<div class="flex-infos-footer">

        		<div class="flex-infos-left">
            		<p>design & code by MEO design & communication</p>
            	</div>

            	<div class="flex-infos-right">
            		<h4>DB12</h4>
					<p>Alberto Donati</p>
					Rte de Lavaux 51 | 1802  Corseaux<br/>
					<a href="mailto:info@dally-vuadens.ch">info@dally-vuadens.ch</a></p>
            	</div>


            </div>
        </div>
    </footer>
    {{ function('wp_footer') }}
</body>
</html>