        <section class="wrapper-full">

          <article class="row-galerie">
            <div>
              <img src="{{TimberImage(post.get_field('image_top')).src}}" alt="{{post.title}}">
            </div>
            <div>
              <h1>Galerie</h1>
              {{post.get_field('texte')}}

                {% if mobile_device %}
                    <a class="btn-desktop" href="{{ post.get_field('lien_bouton') }}">
                {% else %}
                    <a class="fancybox-smartcapture iframe-btn fancybox fancybox.iframe btn-desktop" href="{{ post.get_field('lien_bouton') }}">
                {% endif %}
                <div class="btn-download">
                  <div class="btn-intern-icon">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                  </div>
                  <p>
                    <span><strong>Télécharger</strong> portfolio</span>
                  </p>
                </div>
              </a>

            </div>
          </article>

          <div class="container-galerie">
            {% for item in post.get_field('liste_des_images') %}

              <article class="row-galerie-bottom">
                <img src="{{TimberImage(item.image).src}}" alt="{{post.title}} - {{ item.titre_de_la_ligne }}">
              </article>

            {% endfor %}
          </div>

        </section>