<!doctype html>
<html class="no-js homepage" lang="{{ current_lang }}">
<head>

    <meta charset="{{charset}}" />

    <title>
        {% if title %}
            {{ title }} | {{ options.blogname }}
        {% else %}
            {{ options.blogname }}
        {% endif %}
    </title>

    <meta name="description" content="">

    <link rel="stylesheet" href="{{ template_path_uri }}/style.css" type="text/css" media="screen" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="ndkJvakT5WbNtNWCVs-ZszO8P0vfG83dOVuuSIYqh70" />
    <link rel="shortcut icon" href="{{ template_path_uri }}/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ template_path_uri }}/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ template_path_uri }}/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ template_path_uri }}/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ template_path_uri }}/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ template_path_uri }}/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ template_path_uri }}/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ template_path_uri }}/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ template_path_uri }}/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ template_path_uri }}/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ template_path_uri }}/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ template_path_uri }}/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ template_path_uri }}/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ template_path_uri }}/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ template_path_uri }}/images/favicon-16x16.png">
    <!--<link rel="manifest" href="{{ template_path_uri }}/manifest.json">-->

    <link rel="stylesheet" id="meo_crm_core_fancybox_css-css" href="http://dally-vuadens-test.meomeo.ch/wp/wp-content/plugins/meo-crm-core/librairies/fancybox/source/jquery.fancybox.css?ver=1.0.0" type="text/css" media="all">
    
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ template_path_uri }}/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script src="{{template_path_uri}}/js/jquery-3.2.0.min.js" type="text/javascript"></script>
    <script src="{{template_path_uri}}/js/common.js"></script>

    {{function('wp_head')}}

</head>
<body class="page-interne">
    <main class="main-pages-internes">

        <header class="header-pages-internes">

            <div class="inner-header-pages-internes">
                <div id="logo">
                    <a href="http://dally-vuadens.ch/">
                        <img src="{{ template_path_uri }}/images/le-dally-logo.jpg">
                    </a>
                </div>

                <nav class="nav-pages-internes">
                    <ul>
                        {% for item in menu.get_items %}
                        {% set current_menu = (item.object_id == post.id ) ? 'active' : '' %}
                        <li>
                            <a class="{{ current_menu }}" href="{{item.get_link}}">
                                {{item.title}}
                            </a>
                            {% if item.get_children %}
                                <ul class="sub-menu">
                                  {% for child in item.get_children %}
                                    <li>
                                        <a class="{{ current_menu }}" href="{{child.get_link}}">
                                            {{child.title}}
                                        </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                             {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>  

                <div class="phone-burger">
                    <div id="nav-icon3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                
            </div>

        </header>