<section class="wrapper-full titlepad">

  {% for item in post.get_field('contenu_de_la_page') %}

    <div class="row-pages">
      <article class="text width-50">
        <h1>{{ item.titre_de_la_ligne }}</h1>
        {{ item.texte_de_la_ligne }}
      </article>
      <article class="image width-50">
        <img src="{{TimberImage(item.image_de_la_ligne).src}}" alt="{{ item.titre_de_la_ligne }}">
      </article>
    </div>

  {% endfor %}

</section>