{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="wrapper">
        {{ __(content) }}
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.fancybox').fancybox({
                width: 400
            });
        });
    </script>
    <script src="{{template_path_uri}}/js/script.js" type="text/javascript"></script>
{% endblock %}