        <section class="wrapper-full">

          <article class="row-galerie">
            <div>
              <img src="{{TimberImage(post.get_field('image_page')).src}}" alt="{{post.title}}">
            </div>
            <div>
              <h1>{{ post.title }}</h1>
              {{post.get_field('texte_page')}}
              
              <a class="fancybox-smartcapture iframe-btn fancybox fancybox.iframe btn-desktop" href="{{ post.get_field('lien_bouton_page') }}">
                <div class="btn-download">
                  <div class="btn-intern-icon">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                  </div>
                  <p>
                    <span><strong>Télécharger</strong><br/>la liste des prix</span>
                  </p>
                </div>
              </a>

            </div>
          </article>

        </section>