<section class="wrapper-full no-padding titlepad">

  <div class="flex-situation space-between">
    <article class="situation-left">
      <a href="{{post.get_field('image_gauche')}}" class="fancybox-gallery">
        <img src="{{post.get_field('image_gauche')}}" alt="{{post.title}}">
      </a>
    </article>
  </div>
  <div class="btn-map">
    <a target="_blank" href="{{post.get_field('google_map')}}">Voir sur google map</a>
  </div>

</section>

<section class="wrapper-full no-pad-top">

  {% for item in post.get_field('contenu_de_la_page') %}

    <div class="row-pages">
      <article class="text width-50">
        <h1>{{ item.titre_de_la_ligne }}</h1>
        {{ item.texte_de_la_ligne }}
      </article>
      <article class="image width-50">
        <a href="{{TimberImage(item.image_de_la_ligne).src}}" class="fancybox-gallery">
          <img src="{{TimberImage(item.image_de_la_ligne).src}}" alt="{{ item.titre_de_la_ligne }}">
        </a>
      </article>
    </div>

  {% endfor %}

  <div class="row-pages">
    <article class="image width-50">
      <a href="http://dally-vuadens.ch/wp/wp-content/uploads/2017/06/Pics_Situation5-1.jpg" class="fancybox-gallery">
        <img src="http://dally-vuadens.ch/wp/wp-content/uploads/2017/06/Pics_Situation5-1.jpg" alt="">
      </a>
    </article>
    <article class="image width-50">
      <a href="http://dally-vuadens.ch/wp/wp-content/uploads/2017/06/Pics_Situation6-1.jpg" class="fancybox-gallery">
        <img src="http://dally-vuadens.ch/wp/wp-content/uploads/2017/06/Pics_Situation6-1.jpg" alt="">
      </a>
    </article>
  </div>

</section>

<script type="text/javascript">
    $(document).ready(function(){
        $('.fancybox-gallery').fancybox();
    });
</script>