/*
    
    *** UTILITY COL LESS *** 
    
    Path: theme/less/utility/col-manager.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
@import "../variables.less";
.mixin-reset-padding-margin()
{
    margin: 0 !important;
    padding: 0 !important;
}
/* Full Screen Element */
.mixin-full-screen()
{
    width: 100%;
    height: 100%;
}
.mixin-full-height()
{
    max-height: 100% !important;
    height: 100% !important;
}
/* Create Base Style Title */
.mixin-title(@color,@font-size,@text-transform,@text-align,@letter-spacing,@font-weight)
{
    color: @color !important;
    font-size: @font-size  !important;
    text-transform: @text-transform  !important;
    text-align: @text-align !important;
    letter-spacing: @letter-spacing !important;
    font-weight: @font-weight !important;
}
/* Vertical Align Element */
.mixin-vertical-align(@position)
{
    position: @position;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Vertical Align Element */
.mixin-vertical-align-manual(@position,@top)
{
    position: @position;
    top: @top;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* Create Box Shadow */
//Externe
.mixin-box-shadow(@pos-x,@pos-y,@blur,@distance,@color)
{
    -moz-box-shadow: @pos-x @pos-y @blur @distance @color;
    -webkit-box-shadow: @pos-x @pos-y @blur @distance @color;
    -o-box-shadow: @pos-x @pos-y @blur @distance @color;
    box-shadow: @pos-x @pos-y @blur @distance @color;
}
//Interne
.mixin-box-shadow-inset(@pos-x,@pos-y,@blur,@distance,@color)
{
    -moz-box-shadow: inset @pos-x @pos-y @blur @distance @color;
    -webkit-box-shadow: inset @pos-x @pos-y @blur @distance @color;
    -o-box-shadow: inset @pos-x @pos-y @blur @distance @color;
    box-shadow: inset @pos-x @pos-y @blur @distance @color;
}
/* Create Text Shadow */
.mixin-text-shadow(@pos-x,@pos-y,@blur,@color)
{
    text-shadow: @pos-x @pos-y @blur @color;
}
/* Create Background Color With Opacity */
.mixin-background-color-opacity(@red,@green,@blue,@opacity)
{
    background-color: rgba(@red, @green, @blue, @opacity);
}
/* Gradiant background */
.mixin-background-radial-gradient(@color1,@color2)
{
    background: @color1; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(circle, @color1, @color2); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle, @color1, @color2); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, @color1, @color2); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle, @color1, @color2); /* Standard syntax */
}
.mixin-border-radius(@top-left,@top-right,@bottom-right,@bottom-left)
{
    -webkit-border-radius: @top-left @top-right @bottom-right @bottom-left;
    border-radius: @top-left @top-right @bottom-right @bottom-left;
}
@grey: #4f4e57;
@brown: #8F776A;
@blue: #66AEF3;
@light-blue: #BFE3E9;
@light-brown: #F4E9DF;
@yellow: @grey;
@green: @light-brown;
@footer-color: @grey;

/* COLOR SETTINGS */
@green-dark: #1e6b3b;
@green-light: #83c452;
@grey-light: #878787;
@grey-txt: #554e4e;
@white-opacity: rgba(255,255,255,0.5);


/* WRAPPER TABLE CONTENT */
div.wrap-content-full-width-table
{
    width: 100%;
    display: table;
}
div.wrap-content-table
{
    display: table;
    position: relative;
    @media @smartphones
    {
        width: 100% !important;
    }
}

/* WRAPPER FLEX CONTENT */
div.wrap-content-full-width
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
div.wrap-content
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @media @smartphones
    {
        width: 100%;
    }
}

.wrap-content-90
{
    width: 90%;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-80
{
    width: 80%;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-35-center
{
    width: 35% !important;
    margin: 0 auto;    
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-40-center
{
    width: 40% !important;
    margin: 0 auto;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-60-center
{
    width: 60% !important;
    margin: 0 auto;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-80-center
{
    width: 80% !important;
    margin: 0 auto;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-85-center
{
    width: 85% !important;
    margin: 0 auto;
    max-width: 1140px !important;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-90-center
{
    width: 90% !important;
    margin: 0 auto;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-95-center
{
    width: 95% !important;
    margin: 0 auto;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-97-center
{
    width: 97% !important;
    margin: 0 auto;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-98-center
{
    display: flex;
    width: 98% !important;
    margin: 0 auto;
    @media @smartphones
    {
        width: 100%;
    }
}
.wrap-content-99-center
{
    width: 99% !important;
    margin: 0 auto;
    @media @smartphones
    {
        width: 100%;
    }
}

/* COL FLEX CONTENT */
.col-100
{
    width: 100%;
}
.col-73
{
    width: 73%;
}
.col-70
{
    width: 70%;
}
.col-67
{
    width: 67%;    
}
.col-66
{
    width: 66%;    
}
.col-65
{
    width: 66%;    
}
.col-62
{
    width: 62%;    
}
.col-60
{
    width: 60%;    
}
.col-50
{
    width: 50%;    
}
.col-45
{
    width: 45%;    
}
.col-40
{
    width: 40%;    
}
.col-38
{
    width: 38%;    
}
.col-33
{
    width: 33%;    
}
.col-32
{
    width: 32%;    
}
.col-31
{
    width: 31%;    
}
.col-29
{
    width: 29%;
}
.col-25
{
    width: 25%;    
}
.col-20
{
    width: 20%;    
}

.flex-col
{
    margin: 0;
    padding: 0;
    flex: auto;
    position: relative;
    margin-bottom: 5px;
    @media @tablets-portrait
    {
        width: 100%;
        margin-bottom: 20px;
    }
    @media @smartphones
    {
        width: 100%;
        margin-bottom: 20px;
    }
}
.flex-col-not-responsive
{
    margin: 0;
    padding: 0;
    flex: auto;
    position: relative;
    margin-bottom: 5px;
    /*@media @smartphones
    {
        width: 100%;
        margin-bottom: 20px;
    }*/
}

/* COL CELL CONTENT */
.cell-col
{
    display: table-cell;
    position: relative;
    @media @tablets-portrait
    { 
        width: 100%;
        display: table-row;
    }
    @media @smartphones
    {
        width: 100%;
        display: table-row;
    }
}