/* COLOR SETTINGS */
$green-dark: #8bb31d;
$dark-blue: #3e5660;
$light-blue: #009fe3;
$light-green: #c5d300;
$dark-green: #8bb31d;
$bg-grey: #f4f2ee;
$grey: #b5a88f;
$white: #fff;

/* FONT SETTINGS */
$font-size-nav: 12px;
$font-size: 14px;
$line-height: 17px;
$titles-size: 25px;
$titles-line-height: 30px;

/* SPACING */
$gutter: 30px;
$gutter-small: 20px;

/* MOBILE VARIABLES */