// INTERNAL IMPORT
@import 'import/mediaqueries';
@import 'import/variables';
@import 'import/mixins';
@import 'import/reset';

%wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  padding: $gutter 0;
  margin: 0 auto;
}

%sup {
  top: -10px;
  font-size: 15px;
  position: relative;
  z-index: 1;
}

%title-h1 {
  font-size: 25px;
  line-height: 30px;
  padding-bottom: $gutter/2;
  font-weight: 600;
  color: $dark-blue;
  text-transform: uppercase;
  sup {
    @extend %sup;
  }
}

%icon-nav {
  color: $white;
  display: none;
  cursor: pointer;
  font-size: $font-size-nav*3;
}

%link-navigation {
  color: $dark-blue;
  width: 95%;
  display: block;
  padding: $gutter/4 0;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: $font-size-nav;
  text-transform: uppercase;
}

%btn-download {
  width: 40%;
  color: $white;
  display: block;
  padding: 15px 0;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  background-color: $green-dark;
}

html {
  width: 100%;
  body {
    width: 100%;
    position: relative;
    font-size: $font-size;
    background-color: $bg-grey;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    sup {
      @extend %sup;
      top: -5px;
      font-size: 12px;
    }
    header.header {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      position: fixed;
      background-color: $white;
      padding: $gutter-small 0;
      &.topScrolling {
        padding: $gutter 0;
      }
      .wrapper {
        @extend %wrapper;
        align-items: center;
        padding: 0;
        a.logo {
          flex: auto;
          width: 30%;
          display: block;
          margin-right: 5%;
          img {
            width: 100%;
            max-width: 100%;
          }
        }
        nav {
          flex: auto;
          width: 65%;
          i {
            @extend %icon-nav;
          }
          ul {
            display: flex;
            width: 100%;
            li {
              flex: auto;
              position: relative;
              a {
                @extend %link-navigation;
                &:hover, &.active {
                  color: $white;
                  background-color: $dark-blue;
                }
              }
              ul.sub-menu {
                left: -51%;
                bottom: -95px;
                width: 210%;
                display: none;
                padding-top: 10px;
                position: absolute;
                background-color: $white;
                li {
                  display: block;
                  width: 100%;
                  border-bottom: 1px solid $bg-grey;
                  a {
                    @extend %link-navigation;
                    text-transform: initial;
                    padding: $gutter/2 0;
                    &:hover, &.active {
                      color: $white;
                      background-color: $dark-blue;
                    }
                  }
                }
              }
              &:hover {
                ul.sub-menu {
                  display: block;
                }
              }
            }
          }
          @include mq-m {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            position: fixed;
            align-items: center;
            background-color: rgba(0,0,0,0.85);
            visibility: hidden;
            i {
              display: block;
              position: absolute;
              top: $font-size-nav*4;
              right: $font-size-nav*4;
            }
            ul {
              width: 100%;
              display: block;
              li {
                width: 100%;
                display: block;
                a {
                  color: $white;
                  width: 100%;
                  padding: $gutter/3 0;
                  font-size: $font-size-nav*2;
                }
                ul.sub-menu {
                  display: none;
                }
                &:hover {
                  ul.sub-menu {
                    display: none;
                  }
                }
              }
            }
          }
        }
        i {
          @extend %icon-nav;
          @include mq-m {
            flex: auto;
            display: block;
            color: $dark-blue;
            text-align: right;
          }
        }
      }
    } // END HEADER.header

    &.homepage {
      header.header {
        z-index: 100;
        background-color: rgba(255,255,255,0.4);
      }
    }

    div.main {
      width: 100%;
      section#slider {
        width: 100%;
        height: 100vh;
        position: relative;

        .slider-informations {
          width: auto;
          top: 22%;
          right: 0;
          z-index: 100;
          padding: $gutter;
          position: absolute;
          background-color: $light-green;
          -webkit-box-shadow: -2px 2px 20px 0px rgba(0,0,0,0.21);
          -moz-box-shadow: -2px 2px 20px 0px rgba(0,0,0,0.21);
          box-shadow: -2px 2px 20px 0px rgba(0,0,0,0.21);
          @include mq-s {
            width: 100%;
            padding: 15px 0;
            top: 14%;
            background-color: rgba(197,211,0,0.8);
          }
          > p {
            color: #fff;
            font-weight: 700;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            line-height: 40px;
            text-transform: uppercase;

            @include mq-s {
              font-size: 20px;
              line-height: 30px;
            }

            &:first-child {
              font-size: 50px;
              @include mq-s {
                font-size: 35px;
              }
            }
            &:last-child {
              font-size: 24px;
              font-weight: 500;
              line-height: 30px;
              text-transform: none;
              color: $dark-blue;
              margin-bottom: 0;
              padding-bottom: 0;
              @include mq-s {
                font-size: 16px;
              }
            }
          }
        }

        .swiper-wrapper {
          .swiper-slide {
            width: 100%;
            height: 100%;
            background-size: cover;
          }
        }
        .slider-content {
          left: 0;
          bottom: 0;
          width: 100%;
          z-index: 110;
          position: absolute;
          padding: $gutter/2 0;
          background-color: $dark-blue;
          .wrapper {
            @extend %wrapper;
            h1 {
              color: $white;
              width: 100%;
              display: block;
              font-weight: 600;
              text-transform: uppercase;
              text-align: center;
              font-size: 40px;
              margin-bottom: 10px;
              sup {
                top: -20px;
                position: relative;
                font-size: 20px;
              }
            }
            p {
              width: 100%;
              text-align: center;
              color: $light-green;
              font-size: 20px;
              text-transform: uppercase;
            }
          }
        }
      }
      .page-content {
        height: 100%;
        .wrapper {
          @extend %wrapper;
          article {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $gutter;
            > div.content-article {
              width: 41%;
              flex: auto;
              order: 1;
              display: flex;
              margin-right: 1%;
              align-items: center;
              padding: 10px 4% 0 4%;
              h1 {
                @extend %title-h1;
              }
              p {
                font-size: 14px;
                line-height: 25px;
                color: #333;
                strong {
                  color: $dark-blue;
                  text-decoration: underline;
                }
                sup {
                  top: -4px;
                  font-size: 10px;
                  position: relative;
                }
                a {
                  color: $dark-green;
                  text-decoration: none;
                }
              }
              a.btn-download {
                @extend %btn-download;
              }
            }
            > div.img {
              width: 49%;
              flex: auto;
              order: 2;
              margin-left: 1%;
              img {
                width: 100%;
                max-width: 100%;
              }
            }
            &:nth-child(2n) {
              > div.content-article {
                order: 2;
                margin: 0;
                margin-left: 1%;
              }
              > div.img {
                order: 1;
                margin: 0;
                margin-right: 1%;
              }
            }
            @include mq-m {
              > div.content-article {
                order: 1;
                width: 100%;
                margin: 0;
                margin-bottom: $gutter;
              }
              > div.img {
                order: 2;
                width: 100%;
                margin: 0;
              }
              &:nth-child(2n) {
                > div.content-article {
                  order: 1;
                  margin: 0;
                  margin-bottom: $gutter;
                }
                > div.img {
                  order: 2;
                }
              }
            }
          }
          /* LISTE DES LOTS */
          h1 {
            @extend %title-h1;
            margin-left: 1%;
          }
          .wrapper-filter-list-lot {
            width: 100%;
            position: relative;
            margin-left: calc(1% - 10px);
            .view-switcher {
              top: 0;
              right: 3%;
              display: none;
              height: 100%;
              width: 20%;
              position: absolute;
              a {
                width: 100%;
                text-align: right;
                text-transform: uppercase;
                text-decoration: none;
                color: $green-dark;
                i {
                  font-size: 20px;
                  color: $green-dark;
                  margin-left: 1%;
                }
              }
            }
            #list-lot-filter-group-btn {
              width: 40%;
              @include mq-m {
                flex-wrap: wrap;
                width: 100% !important;
              }
              .btn-filter {
                color: $white;
                font-family: 'Montserrat', sans-serif;
                background-color: $dark-green;
                i.fa {
                  color: $white;
                }
                @include mq-m {
                  display: block;
                  margin-right: 0;
                  margin-bottom: 10px;
                  width: 100% !important;
                  max-width: 100% !important;
                }
              }
            }
            #list-filter {
              width: 96%;
              display: block;
              background-color: $white;
              padding: 0.7rem 2%;
              .filter {
                width: 100%;
                display: block;
                .bloc-flex {
                  @include mq-m {
                    flex-wrap: wrap;
                  }
                  > div {
                    @include mq-m {
                      width: 100%;
                      flex: 100%;
                      span {
                        width: 100px;
                      }
                    }
                  }
                }
                #building-filter {
                  @include mq-m {
                    span {
                      width: 100px;
                    }
                  }
                }
                #surface-filter {
                  @include mq-m {
                    span {
                      width: 100px;
                    }
                  }
                }
              }
              .action-filter {
                display: none;
              }
            }
          }
          .vignette-lots {
            width: 100%;
            article {
              width: 20.5%;
              max-width: 20.5%;
              margin: 0 1% 20px 1%;
              padding: 20px 1% 10px 1%;
              @include mq-m {
                width: 90%;
                max-width: 90%;
                margin: 0 0 20px 0;
                padding: 20px 5% 10px 5%;
              }
              .info-lot {
                width: 100%;
                position: relative;
                .lot-title {
                  font-weight: 400;
                }
                .lot-status {
                  right: 0px;
                  position: absolute;
                  .status-color-bullet {
                    top: 1px;
                  }
                }
                .lot-details {
                  margin-top: 10px;
                  padding-top: 15px;
                }
              }
              .plan-lot {
                width: 100%;
                display: block;
                img {
                  width: 100%;
                }
              }
              .btn-group-lot-list {
                width: 100%;
                display: flex;
                position: relative;
                z-index: 1;
                flex-wrap: wrap;
                .btn-lot {
                  width: 100%;
                  color: $white;
                  padding: 10px 0;
                  text-transform: uppercase;
                  background-color: $green-dark;
                }
                .btn-situation {
                  color: $green-dark;
                  border: none;
                  background-color: transparent;
                }
              }
              .disabled-lot-vignette {
                z-index: 2;
              }
            }
          }
          #plan-sector {
            width: 98%;
            margin-left: 1%;
            margin-right: 1%;
            img {
              width: 100%;
            }
          }
        }
      }
      .page-galerie {
        height: 100%;
        .wrapper {
          @extend %wrapper;
          article {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $gutter;
            &:first-child {
              flex-wrap: nowrap;
              @include mq-m {
                flex-wrap: wrap;
              }
            }
            > div {
              flex: auto;
              width: 49%;
              margin-right: 1%;
              @include mq-m {
                width: 100%;
                margin-right: 0;
              }
              img {
                width: 100%;
              }
            }
            > div.second {
              margin-left: 1%;
              margin-right: 0;
              @include mq-m {
                margin-left: 0;
              }
              img {
                width: 100%;
                @include mq-m {
                  margin-top: $gutter;
                }
              }
            }
            > div.content-article {
              width: 40%;
              max-width: 40%;
              flex: auto;
              order: 2;
              display: flex;
              margin-left: 1%;
              align-items: center;
              padding: 10px 4% 0 4%;
              @include mq-m {
                width: 100%;
                max-width: 100%;
                margin-left: 0;
                order: 1;
                margin-bottom: $gutter;
              }
              h1 {
                font-size: 25px;
                line-height: 30px;
                padding-bottom: $gutter/2;
                font-weight: 600;
                color: $dark-blue;
                text-transform: uppercase;
                sup {
                  top: -10px;
                  font-size: 15px;
                  position: relative;
                  z-index: 10;
                }
              }
              p {
                font-size: 14px;
                line-height: 25px;
                color: #333;
                strong {
                  color: $dark-blue;
                  text-decoration: underline;
                }
                sup {
                  top: -4px;
                  font-size: 10px;
                  position: relative;
                }
              }
              a {
                @extend %btn-download;
              }
            }
            > div.img {
              width: 49%;
              max-width: 49%;
              flex: auto;
              order: 1;
              margin-right: 1%;
              @include mq-m {
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                order: 2;
              }
              img {
                width: 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
      .page-contact {
        .wrapper {
          @extend %wrapper;
          div {
            width: 100%;
            form {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              div.contact-form {
                width: 48%;
                flex: auto;
                margin: 0 1%;
                position: relative;
                @include mq-m {
                  width: 100%;
                }
                input, select, textarea {
                  width: calc(100% - 20px);
                  border: 1px solid #f8f8f8;
                  padding: 10px;
                  margin-bottom: 10px;
                  color: #3e5660;
                  font-size: 14px;
                  line-height: 17px;
                  &.wpcf7-submit {
                    right: 0;
                    width: 30%;
                    color: $white;
                    position: absolute;
                    text-transform: uppercase;
                    background-color: $dark-green;
                  }
                }
                select {
                  width: 100%;
                  height: 35px;
                  background-color: white;
                  border-radius: 0;
                }
              }
              div.wpcf7-response-output {
                width: 98%;
                order: 1;
                margin: 0 1% $gutter/2 1%;
              }
            }
          }
        }
      }
    }
    footer {
      width: 100%;
      padding: $gutter/2 0;
      background-color: $dark-blue;
      .wrapper {
        @extend %wrapper;
        div {
          width: 50%;
          flex: auto;
          position: relative;
          @include mq-m {
            width: 100%;
          }
          > a {
            bottom: 0;
            color: $white;
            text-decoration: none;
            position: absolute;
            @include mq-m {
              display: none;
            }
          }
          span {
            color: $white;
            width: 100%;
            text-align: right;
            display: block;
            font-size: 14px;
            line-height: 20px;
            @include mq-m {
              text-align: center;
            }
            a.tel {
              color: $white;
              text-decoration: none;
            }
            a.mail {
              color: $light-green;
              text-decoration: none;
            }
            &.company {
              color: $light-green;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .building-container {
      .wrapper {
        @extend %wrapper;
        .view-switcher {
          display: none;
        }
        .building-details {
          width: 14.96%;
          display: block;
          position: absolute;
          background-color: rgba(255,255,255,0.5);
          .building-title {
            color: $dark-blue;
            font-size: 25px;
          }
          .building-status-details {
            p {
              color: $dark-green;
              font-size: 16px;
              line-height: 22px;
              font-weight: 300;
              margin-bottom: 5px;
              &:first-child {
                font-weight: 400;
                margin-bottom: 15px;
              }
              span.before-status {
                width: 20px;
                display: inline-block;
              }
              span.status-color-bullet {
                top: 4px;
                margin-right: 5px;
              }
            }
          }
        }
        .building-lot-selector {
          width: 100%;
          .building-image {
            top: 0 !important;
            width: 100%;
            .rotate-building {
              display: none;
            }
            img {
              width: 100%;
            }
            .front-building {
              img.base_status_lot {
              opacity: 0.1;
              }
              img.hover_status_lot {
                opacity: 0.5;
              }
            }
          }
        }
        .table-lots {
          table {
            thead {
              tr {
                th {
                  color: $dark-blue;
                  font-weight: 600;
                }
              }
            }
          }
        }
        .btn-group-table {
          display: flex;
          .btn-list-lot {
            color: $white;
            flex: auto;
            width: 70%;
            margin: 0;
            padding: 5px 0;
            background-color: $dark-green;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
              background-color: lighten($dark-green, 5%);
            }
            &:first-child {
              width: 28%;
              margin-right: 2%;
              background-color: $dark-blue;
              &:hover {
                background-color: lighten($dark-blue, 10%);
              }
            }
          }
        }

      }
    }
    #global-content-lot-details {
      .wrapper {
        @extend %wrapper;
        position: relative;
        h1.flex-title {
          width: 100%;
          font-size: 18px;
          line-height: 25px;
          font-weight: 300;
          font-family: 'Montserrat', sans-serif;
          margin-bottom: $gutter;
          border-bottom: 1px solid $dark-blue;
          padding-bottom: $gutter/2;
          @include mq-m {
            font-size: 10px;
            sup {
              font-size: 8px;
            }
          }
          span {
            display: block;
            font-size: 22px;
            color: $green-dark;
            font-weight: 400;
            text-transform: uppercase;
            @include mq-m {
              font-size: 18px;
            }
          }
        }
        .btn-bloc {
          top: $gutter;
          right: 0;
          display: block;
          position: absolute;
          @include mq-m {
            top: 99%;
            width: 100%;
          }
          a {
            width: 15%;
            color: $white;
            font-size: 14px;
            line-height: 25px;
            text-align: center;
            padding: 10px 20px;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $dark-green;
            @include mq-m {
              display: block;
              width: calc(100% - 40px);
            }
            &:hover {
              background-color: $dark-blue;
            }
          }
        }
        .group-plan {
          width: 70%;
          flex: auto;
          @include mq-m {
            width: 100%;
          }
          div {
            width: 100%;
            img {
              max-width: 80%;
              margin: 0 auto;
              display: block;
              @include mq-m {
                width: 100%;
                max-width: 100%;
              }
            }
          }
        }
        .lot-informations {
          width: 30%;
          flex: auto;
          @include mq-m {
            width: 100%;
          }
          > div {
            width: 90%;
            background-color: $white;
            margin-bottom: $gutter/2;
            padding: $gutter 5%;
            h2 {
              color: $dark-green;
              text-transform: uppercase;
              font-size: 16px;
              line-height: 20px;
              border-bottom: 1px solid #eee;
              padding-bottom: 10px;
              margin-bottom: $gutter/2;
            }
          }
          .lot-meta {
            ul {
              li {
                padding-bottom: 5px;
                color: $dark-blue;
              }
            }
          }
          .lot-plan-building {
            .lot_building_image {
              width: 95%;
              margin: 0 auto;
              position: relative;
              img {
                width: 100%;
                max-width: 100%;
                &.plan_building {
                  top: 0;
                  left: 0;
                  opacity: 0.8;
                  position: absolute;
                }
              }
            }
          }
          .lot-floor-plan {
            padding-bottom: 0;
            img {
              width: 80%;
              max-width: 80%;
              margin: 0 auto;
              display: block;
            }
          }
        }
      }
    }
    #smartcapture-form {
      width: 100%;
      .logo {
        width: 70%;
        margin: $gutter auto;
        img {
          width: 100%;
          max-width: 100%;
        }
      }
      h2 {
        width: 90%;
        margin: 0 auto $gutter auto;
        text-align: center;
      }
      form {
        width: 90%;
        margin: 0 auto;
        position: relative;
        input, select {
          width: calc(100% - 20px);
          padding: 10px;
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: 300;
          &.wpcf7-submit {
            width: 100%;
            paddin: 10px 0;
            color: $white;
            text-transform: uppercase;
            background-color: $dark-green;
          }
        }
        select {
          width: 101%;
        }
      }
    }
  }
}