<!doctype html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8" />

    <title>
        {{ meta_title }} | {{ options.blogname }}
    </title>

    <meta name="description" content="{{ meta_description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{{ template_path_uri }}/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ template_path_uri }}/node_modules/swiper/dist/css/swiper.min.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="{{ template_path_uri }}/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ template_path_uri }}/images/favicon.ico" type="image/x-icon">
    <script src="{{template_path_uri}}/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://wchat.freshchat.com/js/widget.js"></script>
    {{function('wp_head')}}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KJM57VX');</script>
    <!-- End Google Tag Manager -->
</head>
<body class="{{ class_body }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJM57VX"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="lot-main-container" role="main">
        {% block content %}

        {% endblock %}
    </div>
    {% block footer_js %}

    {% endblock %}
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <!--<script type='text/javascript'>
        (function(){ var widget_id = 'hKVyaJzJJm';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    </script>-->
    <!-- {/literal} END JIVOSITE CODE -->
    <script>
        window.fcWidget.init({
            token: "4b37d940-86b7-4647-88b9-69b1620d5223",
            host: "https://wchat.freshchat.com",
            locale: "fr"
        });
        window.fcWidget.user.setLocale('fr');
    </script>
</body>