<ul>
    {% for item in menus %}
        {% set current_menu = (item.current) ? 'active' : '' %}
        <li>
            <a class="{{ current_menu }}" href="{{item.url}}">
                {{item.title}}
            </a>
            {% if item.childs %}
                <ul class="sub-menu">
                    {% for child in item.childs %}
                        <li>
                            <a class="" href="{{child.url}}">
                                {{child.title}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>