@import "variables.less";

/*Navigation*/
/* Icon 3 */
/*Navigation Mobile*/
/*Slider*/
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 17px;
}
html {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 17px;
}
h2 {
  font-size: 25px !important;
  line-height: 30px !important;
  font-weight: lighter;
  color: @dark-blue;
  text-transform: uppercase;
}
p {
  color: @dark-blue;
}
a {
  text-decoration: none;
  color: @dark-blue;
}
main {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
}
.homepage header {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -85px !important;
  margin-left: -241px !important;
}
.homepage #logo {
  width: 483px;
  height: 171px;
}
.padding-box {
  padding: 20px 25px;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0);
  transition: all .5s ease;
}
.row-top-home {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  height: 50%;
  padding-bottom: 10px;
  article {
    height: 100%;
    &:hover {
      a {
        background: rgba(255,255,255,0.82);
      }
      .bnt {
        background: #3e5660;
        h2 {
          color: @white;
        }
      }
      .content {
        opacity: 1;
        margin-top: 0px;
      }
    }
  }
  .content {
    font-size: 20px;
    color: @dark-blue;
    line-height: 24px;
    padding-top: 47px;
  }
}
.row-bottom-home {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  height: 50%;
  padding-top: 10px;
  article {
    height: 100%;
    &:hover {
      a {
        background: rgba(255,255,255,0.82);
      }
      .bnt {
        background: #3e5660;
        h2 {
          color: @white;
        }
      }
      .content {
        opacity: 1;
        margin-top: 0px;
        padding-bottom: 47px;
      }
    }
  }
  .content {
    font-size: 20px;
    color: @dark-blue;
    line-height: 24px;
    padding-bottom: 27px;
  }
  a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
  }
}
.box-concept {
  width: ~"calc(43% - 10px)";
  margin-right: 10px;
}
.box-situation {
  width: ~"calc(57% - 10px)";
  margin-left: 10px;
}
.box-plans {
  width: ~"calc(30% - 10px)";
  margin-right: 10px;
}
.box-galerie {
  width: ~"calc(38% - 10px)";
  margin-left: 10px;
  margin-right: 10px;
}
.box-contact {
  width: ~"calc(31% - 10px)";
  margin-left: 10px;
}
.content {
  margin-top: -20px;
  opacity: 0;
  transition: all.5s ease;
  &:hover {
    opacity: 1;
    margin-top: 0px;
  }
}
.bnt {
  padding: 7px 15px;
  background: #fff;
  display: inline-block;
  transition: all .5s ease;
}
.home {
  width: 100%;
  height: 100%;
}
#nav-icon3 {
  width: 60px;
  height: 57px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #3d5560;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2) {
      top: 19px;
    }
    &:nth-child(3) {
      top: 19px;
    }
    &:nth-child(4) {
      top: 38px;
    }
  }
}
#nav-icon3.open {
  span {
    background: #fff !important;
    &:nth-child(1) {
      top: 19px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 19px;
      width: 0%;
      left: 50%;
    }
  }
}
.open-switch {
  background: #3d5560 !important;
}
nav {
  position: fixed;
  width: 100%;
  top: 197px;
  height: ~"calc(100% - 197px)";
  z-index: 1000;
  overflow: scroll;
  max-height: 0em;
  height: auto;
  overflow: hidden;
  transition: all .5s ease;
  background: rgba(255,255,255,0.8);
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  ul {
    width: 100%;
    height: 100%;
    ul {
      max-height: 0em;
      height: auto;
      overflow: hidden;
      transition: all .7s ease;
      a {
        padding-left: 120px;
        text-transform: none;
        font-size: 50px;
      }
    }
    li {
      &:hover {
        >ul {
          max-height: 50em;
        }
      }
    }
  }
  a {
    display: block;
    width: 100%;
    font-size: 58px;
    text-transform: uppercase;
    line-height: 62px;
    padding: 40px 0px 30px 60px;
    &:hover {
      background: #3d5560;
      color: @white;
    }
  }
  a.active {
    background: #3d5560;
    color: @white;
  }
}
.open-menu {
  max-height: ~"calc(100vh - 197px)";
  height: 100%;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  position: fixed;
  z-index: 99;
  display: none;
}
.phone-burger {
  display: none;
}
.slider {
  display: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

























