/* COLOR SETTINGS */
@import "variables.less";
@media screen and (max-width: 1280px) {
  .page-interne .header-pages-internes .nav-pages-internes ul li {
    margin: 0 3px;
}
.page-interne .header-pages-internes .nav-pages-internes ul li a {
    font-size: 12px;
    padding: 6px 6px;
}
}
@media screen and (max-width: 1074px) {
  .text-switch {
    display:none;
  }
  section.vignette-lots {
    margin: 0;
    padding: 0;
    padding-top: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
  section.vignette-lots article {
    width: ~"calc(48%)" !important;
    max-width: 48% !important;
    margin: 0 1% 20px 1%;
}

  .page-interne h1 {
    font-size:21px !important;
    line-height:25px !important;
  }

  .page-interne p {
    font-size: 12px !important;
    line-height: 15px !important;
  }
  .wrapper-full .row-pages .text{
    padding: 0 3% 0% 4%;
  }

    .wrapper-full .row-pages .text:nth-child(odd){
      padding: 0 3% 0% 4% !important;
  }
  .header-pages-internes .nav-pages-internes ul li a {
    color: #3d5560;
    color: #3e5660;
    padding: inherit;
    font-size: 12px;
    line-height: inherit;
    background: 0 0;
    padding: 6px 7px;
}
.page-interne .phone-burger {
    display: block;
    margin-right: 76px;
    cursor: pointer;
    padding: 15px 15px 0px 15px;
    transition: all .5s ease;
  }
  //Page interne
  .header-pages-internes .nav-pages-internes ul {
    display:inherit !important;
  }
  .header-pages-internes {
    margin-right:0px;
  }
  .header-pages-internes .phone-burger {
      padding: 15px 15px 0 15px;
      margin-right:30px;
  }
  .header-pages-internes .nav-pages-internes{
    position: fixed !important;
    width: 100% !important;
    top: 197px !important;
    left: 0px !important;
    height: ~"calc(100% - 95px)" !important;
    z-index: 9000 !important;
    overflow: scroll !important;
    max-height: 0em;
    height: auto;
    overflow: hidden;
    transition: all .5s ease !important;
    background: rgba(255,255,255,0.8) !important;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    ul {
      width: 100% !important;
      height: 100% !important;
      ul.sub-menu {
        max-height: 0em;
        height: auto !important;
        overflow: hidden !important;
        transition: all .7s ease;
        display:inherit !important;
        position:relative;
        background:inherit;
        li {
          margin:0px !important;
        }
        a {
          padding-left: 120px;
          text-transform: none;
          font-size: 50px !important;
          width:100%;
          border:0px !important;
          color:@dark-blue !important;
          background:none;
          padding-left: 120px !important;
        }
      }
      li {
        width:100%;
        margin:0px !important;
        &:hover {
          >ul {
            max-height: 50em;
          }
        }
      }
    }
    a {
      display: block !important;
      width: 100% !important;
      font-size: 38px!important;
      line-height: 42px!important;
      padding: 20px 0 20px 60px!important;
      text-transform: uppercase;
      line-height: 38px !important;
      &:hover {
        background: #3d5560 !important;
        color: @white !important;
      }
    }
    a.active {
      background: #3d5560;
      color: @white;
    }
  }
  .open-menu {
    max-height: ~"calc(100vh - 95px)" !important;
    height: 100% !important;
  }
}
@media screen and (max-width: 900px) {
  .wrapper-full .row-pages {
    flex-wrap: wrap;
  }
  .wrapper-full .row-pages .text:nth-child(odd) {
    width: 100%;
    padding-bottom: 30px !important;
  }
  .wrapper-full .row-pages .image {
    width: 100%;
    order:2;
  }
  article.building-container .building-details h2.building-title {
    line-height: 16px!important;
    font-size: 16px!important;
}
  
}

@media screen and (max-width: 768px) {
  .pages-interne-footer .footer-inner .flex-infos-footer {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
  }
  .pages-interne-footer .footer-inner .flex-infos-footer .flex-infos-left {
    width: 100%;
    text-align: center;
    padding-bottom: 13px;
}
.pages-interne-footer .footer-inner .flex-infos-footer .flex-infos-right {
    text-align: center;
    color: #fff;
    width: 100%;
}
  .row-galerie {
    margin-bottom: 0px;
  }
  .row-galerie div {
      width: 100%;
      margin-bottom: 30px;
  }
  .situation-left {
      width: 100%;
      margin-bottom:30px;
  }
  .situation-right {
      width: 100%;
  }
  .btn-map {
    justify-content: center;
}
    #table_list_lots > tbody tr td {
      font-size: 12px;
  }
  article.building-container .building-details h2.building-title {
      line-height: 16px!important;
      font-size: 16px!important;
  }
  //Home page
  nav {
    display: block;
    a {
      font-size: 38px!important;
      line-height: 42px!important;
      padding: 20px 0 20px 60px!important;
    }
  }
  .phone-burger {
    display: block;
    margin-right: 76px;
    cursor: pointer;
    padding: 15px 15px 0px 15px;
    transition: all .5s ease;
  }
  main {
    padding: 0px;
  }
  .homepage header {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    margin-top: 0px !important;
    margin-left: 0px !important;
    width: 100%;
    background: #fff;
    padding: 13px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .homepage #logo {
    position: relative !important;
  }
  .home {
    display: none;
  }
  .slider {
    display: block;
    width: 100%;
    height: ~"calc(100% - 197px)";
    margin-top: 197px;
    article {
      width: 100%;
      height: 100%;
      margin: 0px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .box-plans {
    display: none;
  }
  .box-contact {
    display: none;
  }
  .content {
    display: none;
  }
  .bnt {
    display: none;
  }
  .row-bottom-home {
    display: none;
  }
  .row-top-home {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .wrapper-full .row-pages .text:nth-child(odd) {
    padding: 5% 7% 0 7%!important;
    padding-bottom:30px !important;
  }
  .page-interne p {
    font-size: 14px !important;
    line-height: 17px !important;
  }
  html body #popup-vignette .detail-popup .information .lot-details .popup-lot-title {
    color: @green-dark !important;
  }
  html body #popup-vignette .detail-popup .btn-popup-situation.close-popup {
    background-color: @dark-blue !important;
  }
  html body #popup-vignette .detail-popup .btn-download-file {
    background-color: @green-dark !important;
  }
}
@media screen and (max-width: 650px) {
  #main-content .view-switcher {
    width: 50%;
  }
  #main-content .view-switcher a.btn-siwtch-view-immo,
  #main-content .view-switcher a.btn-siwtch-view-immo i.fa {
    font-size: 10px;
  }
  .row-galerie-bottom {
    width: @full !important;
  }
  .col-50 {
    width: ~"calc(100%)" !important;
  }
  select {
    margin-bottom:10px;
  }

  section.vignette-lots article {
    width: calc(100%)!important;
    max-width: 100%!important;
    margin: 0px 0px 20px 0px !important;
}
  .header-pages-internes .nav-pages-internes {
    top: 126px !important;
  }
   .header-pages-internes .phone-burger {
      margin-right:0px !important;
  }
  .wrapper-full {
    margin-top: 159px !important;
  }
  .wrapper-full.no-pad-top {
    margin-top:30px !important;
  }
  #logo {
    width: 300px !important;
    height: 100px !important;
    img {
      width: 100%;
    }
  }
  nav {
    top: 126px !important;
    height: ~"calc(100% - 126px)" !important;
    a {
      font-size: 30px;
      line-height: 26px;
      padding: 34px 0px 30px 40px;
    }
    ul {
      ul {
        a {
          padding-left: 60px !important;
          font-size: 31px !important;
        }
      }
    }
  }
  .header-pages-internes .nav-pages-internes ul ul.sub-menu a {
    font-size: 30px!important;
    padding-left: 60px!important;
  }
  .open-menu {
    max-height: ~"calc(100vh - 126px)";
    height: 100%;
  }
  .slider {
    height: ~"calc(100% - 126px)";
    margin-top: 126px;
  }
  .phone-burger {
    margin-right: 30px;
  }
  .header-pages-internes .nav-pages-internes a {
    font-size: 30px !important;
    line-height: 26px !important;
    padding: 34px 0 30px 40px !important;
  }
  .page-interne .header-pages-internes .nav-pages-internes ul li {
      margin: 0px !important;
  }
  html body #smartcapture-form {
    width: 85% !important;
    margin: 0 auto !important;
    input {
      border-radius: 0 !important;
    }
    input.wpcf7-submit {
      padding: 20px 0;
      border-radius: 0 !important;
      margin-top: 20px;
      width: 100% !important;
      max-width: 100% !important;
    }
    a#previous-page-button {
      display: block;
      background-color: @dark-blue;
      text-align: center;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}
@media screen and (max-width: 375px) {
  #nav-icon3 {
    width: 40px;
    height: 50px;
    span {
      &:nth-child(2) {
        top: 14px;
      }
      &:nth-child(3) {
        top: 14px;
      }
      &:nth-child(4) {
        top: 28px;
      }
    }
  }
}
@media screen and (max-width: 374px) {

  .flex-infos-footer p {
    font-size: 12px!important;
    line-height: 13px!important;
}
.pages-interne-footer .footer-inner .flex-infos-footer .flex-infos-right h4 {
    font-size: 15px;
}
  .header-pages-internes .nav-pages-internes {
    top: 106px !important;
}
  .header-pages-internes .inner-header-pages-internes {
    padding-right:0px;
  }
  .header-pages-internes .phone-burger {
    margin-right: 0px !important;
}
  #logo {
    width: 300px !important;
    height: 80px !important;
  }
  #nav-icon3 {
    width: 40px !important;
    height: 46px !important;
  }
  .phone-burger {
    margin-right: 20px !important;
  }
  .page-interne .header-pages-internes .nav-pages-internes {
     top: 106px !important;
    height: ~"calc(100% - 106px)" !important;
    a {
      font-size: 24px !important;
      line-height: 26px !important;
      padding: 14px 0px 14px 30px !important;
    }
    ul {
      ul {
        a {
          padding-left: 50px !important;
          font-size: 22px !important;
        }
      }
    }

  }
  nav {
    top: 106px !important;
    height: ~"calc(100% - 106px)" !important;
    a {
      font-size: 24px !important;
      line-height: 26px !important;
      padding: 14px 0px 14px 30px !important;
    }
    ul {
      ul {
        a {
          padding-left: 50px !important;
          font-size: 22px !important;
        }
      }
    }
  }
  .open-menu {
    max-height: ~"calc(100vh - 106px)" !important;
    height: 100%;
  }
  .slider {
    height: ~"calc(100% - 106px)";
    margin-top: 106px;
  }
}
