@import "variables.less";


html .page-interne {
  height:auto;
}

.page-interne {
  background: rgba(180, 167, 142, 0.15);
}

.main-pages-internes {
  padding: 0px;
  min-height:~"calc(100vh - 150px)";
  width: @full;
}

.page-interne .header-pages-internes {
  position: fixed;
  top: 0px;
  left: 0px;
  width: @full;
  background: #fff;
  margin:0px !important;
  padding:13px 0px;
  z-index:2000;
  .inner-header-pages-internes {
    max-width: @full-page;
    width: @full;
    margin:0px auto;
    padding:0px 30px;
    padding-left:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-pages-internes {
    display: block;
    position: inherit;
    width: auto;
    top: inherit;
    overflow: inherit;
    background: inherit;
  }
  .nav-pages-internes ul {
    width:auto;
    display:flex;
    justifly-content:space-between;
    height:auto;
    li {
      list-style: none;
      margin:0px 7px;
      position:relative;
      &:last-of-type {
        margin-right:0px;
      }
      a {
        color: @dark-blue;
        color: #3e5660;
        padding: inherit;
        font-size: 14px;
        line-height: inherit;
        background:none;
        padding: 6px 12px;
        font-family: 'Montserrat-medium';
        &:hover {
          background: @dark-blue;
          color:#fff;
        }
      }
    }
  }
}
.nav-pages-internes ul ul.sub-menu {
    position: absolute;
    width: inherit;
    width: @full;
    display:flex;
    flex-direction:column;
    min-width:200px;
    min-height:0px;
    overflow:hidden;
    z-index:2000;
    li {
      width:100%;
      margin:0px;
      a {
        width:100%;
        padding: 16px 12px 16px 16px;
        border-top:1px solid @bg-grey;
        background: @white;
        color: @dark-blue;
        font-family: 'Montserrat-medium';
        &:hover {
          background: @dark-blue;
          color:@white !important;
        }
      }
    }
}
.nav-page-internes ul li:hover ul {
  min-heihgt:50em;
}
.nav-pages-internes a.active {
    color: @white !important;
    background: @dark-blue !important; 
}
.wrapper-full {
  max-width: @full-page;
  width: @full;
  margin: 0px auto;
  padding:0px 30px;
  margin-top:228px;
  .row-pages {
    width:100%;
    padding-bottom:30px;
    display:flex;
    justify-content:space-between;
    .text {
      padding: 0% 7%;
      padding-top: 10px !important;
      width:50%;
      h1 {
        color: @dark-blue;
        font-size:25px;
        line-height:30px;
        font-weight:lighter;
        text-transform:uppercase;
        padding:0px 0px 30px 0px;
      }
      p {
        color: @dark-blue;
        font-size: 14px;
        line-height: 17px;
      }
    }
    .image {
      width:50%;
      display: block;
      img {
        width:100%;
      }
    }
    .text:nth-child(odd) {
      padding: 0% 7%;
      width:50%;
      order:1;
      padding-top:5%;
    }
    .image:nth-child(odd) {
      width:50%;
      display: block;
      order:2;
    }
  }
  .row-pages:nth-child(odd) {
    .text {
      order:1;
    }
    .image {
      order:2;
    }
  }
  .width-50 {

  }
  .width-100 {

  }
}
.pages-interne-footer {
  width:100%;
  padding:0px 30px;
  height: 150px;
  display:flex;
  padding-top:15px;
  background: @dark-blue;
  .footer-inner {
    max-width: @full-page;
    width: @full;
    padding:0px 30px;
    margin:0px auto;
    p {
      color: @white;
    }
    a {
      color: @white;
    }
    .flex-infos-footer {
      width: @full;
      display:flex;
      justify-content:space-between;
      .flex-infos-left {
        align-self: flex-end;
      }
      .flex-infos-right {
        text-align:right;
        color: @white;
        h4 {
          color: #95b434;
          text-transform:uppercase;
          font-size: 17px;
          font-weight:lighter;
        }
        a {
          color: #95b434;
        }
      }
    }
  }
}
.page-interne #logo {
    positon:relative !important;
  }
.width-100 {
  width: 100% !important;
  input {
    width: 100%;
    border: 1px solid rgb(248, 248, 248);
    padding: 10px;
    margin-bottom: 10px;
    color: @dark-blue;
    font-size: @font-size;
    line-height: @line-height;
  }
  textarea {
    width: 100%;
    border: 1px solid rgb(248, 248, 248);
    padding: 10px;
    margin-bottom: 10px;
    color: @dark-blue;
    font-size: @font-size;
    line-height: @line-height;
    font-family: Helvetica-Neue,Helvetica,Arial,sans-serif;
  }
  select {
    width:100%;
    padding: 10px;
    border: 1px solid #f8f8f8;
    background: #fff;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    color: @dark-blue;
    font-size: @font-size;
    line-height: @line-height;
  }
  .wpcf7-submit {
    background: @dark-green;
    color: @white;
    max-width:150px;
    width:100%;
    border:0px !important;
    float:right;
  }
}
.wrap-content-full-width {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .col-50 {
    width: ~"calc(50% - 10px)";
  }
}
.center {
  justify-content: center !important<;
}
.img-right {
  padding: 0 !important;
  width: 23.4% !important;
  padding-top: 60px !important;
  img {
    width:100% !important;
  }
}
.img-left {
  width: 56% !important;
  margin: 0 !important;
  padding-right: 7% !important;
  padding-top: 0px !important;
  padding-left: 0px !important;
  img {
    width:100% !important;
  }
}
.situation-left {
    width: 100%;
}
.situation-right {
    width: 31%;
}
.flex-situation {
  display:flex;
  width: @full;
  flex-wrap: wrap;
  img {
    width:100%;
  }
}
.btn-map {
  width:100%;
  display: @flex;
  justify-content:flex-end;
  margin-top:25px;
  a {
    display:inline-block;
    padding:10px 20px;
    background: @dark-green;
    color:@white;
    text-transform:uppercase;
  }
}
.infos {
  width:@full;
  span {
    color:@dark-blue;
  }
}
::-webkit-input-placeholder {
    color: @dark-blue;
    opacity: 1 !important; 
}

:-moz-placeholder {
    color: @dark-blue;
    opacity: 1 !important;
}

::-moz-placeholder { 
    color: @dark-blue;
    opacity: 1 !important;
}

:-ms-input-placeholder {  
   color: @dark-blue;
   opacity: 1 !important;
}
.no-pad-top {
  margin-top: 30px !important;
}
.space-between {
  justify-content:space-between;
}




/*Galerie*/
.row-galerie {
  width: @full;
  display:@flex;
  justify-content: @space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  &last-child {
    margin-bottom:0px;
  }
  div {
    width:@col2-page;
    img {
      width:@full;
    }
  }
}
.container-galerie {
  width: @full;
  display:@flex;
  justify-content: @space-between;
  flex-wrap: wrap;
  .row-galerie-bottom {
    width: @col2-page;
    margin-bottom: 30px;
    img {
    width: @full;
    }
  }
}


/*Contact*/
.contact .flex-col {
    -webkit-box-flex: inherit;
    -webkit-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
}

/*Concept*/
.titlepad h2 {
  padding-bottom:30px;
}
.title-test {
  padding-bottom:30px;
}


/*Request file*/
iframe {
  background: @white !important;
  max-height:800px !important;
  body, html {
    width:inherit !important;
    max-height:800px !important;
  }
}
#smartcapture-form {
  width: @full;
  .logo {
    max-width: 250px;
    height: auto;
    margin: 0px auto;
    img {
      width:@full;
    }
  }
  .border {
    width: @full;
    border-bottom: 1px solid @dark-blue;
  }
  h2 {
    font-size: 14px!important;
    line-height: 18px!important;
    font-weight: lighter;
    color: #3e5660;
    text-transform: none;
    padding: 30px !important;
    display: block;
}
  input {
    width: 100%;
    border: 1px solid rgb(248, 248, 248);
    padding: 10px;
    margin-bottom: 10px;
    color: @dark-blue;
    font-size: @font-size;
    line-height: @line-height;
  }
  input[type="hidden"] {
    height:0px !important;
    overflow:hidden !important;
    display:none !important;
  }

  textarea {
    width: 100%;
    border: 1px solid rgb(248, 248, 248);
    padding: 10px;
    margin-bottom: 10px;
    color: @dark-blue;
    font-size: @font-size;
    line-height: @line-height;
    font-family: Helvetica-Neue,Helvetica,Arial,sans-serif;
  }
  select {
    width:100%;
    padding: 10px;
    border: 1px solid #f8f8f8;
    background: #fff;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    color: @dark-blue;
    font-size: @font-size;
    line-height: @line-height;
  }
  .wpcf7-submit {
    background: @dark-green;
    color: @white;
    max-width:150px;
    width:100%;
    border:0px !important;
    float:right;
  }
}


#main-content img, #main-content .flex-col img {
    width: 100%;
}
.plan-sector-container {
  display:none !important;
}
.building-content {
    align-items: flex-start !important;
}
.building-details {
    background-color: #ffffff !important;
}
#main-content .view-switcher a.btn-siwtch-view-immo .fa {
    color: #3d5560 !important;
    padding-left: 15px;
}
article.building-container #table_list_lots>tbody>tr>td:last-child>a.download-plan {
    background-color: #3d5560 !important;
}
article.building-container #table_list_lots tbody tr:hover {
    background-color: #fff !important;
}
article.building-container #table_list_lots>tbody>tr.selected-lot-list>td:last-child>a.details-plan {
    background-color: #89b21d !important;
}
section.vignette-lots article {
    border: 0px !important;
    background-color: #fff !important;
      margin:0px !important;
  margin-bottom:20px !important;
}
a.btn-lot {
    border: 0px !important;
    background-color: @dark-green !important;
    color: #fff !important;
}
article .lot-title {
    flex: auto;
    width: 49%;
    min-width: 49%;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
a.btn-lot {
  z-index:100 !important;
}
#list-lot-filter-group-btn {
  display:none !important;
}
.qtranxs-available-languages-message {
  display:none !important;
}
section.vignette-lots article {
    padding: 20px 2% !important;
}
section.vignette-lots article {
    padding: 20px 20px!important;
}
article .info-lot, article .info-lot a {
    color: @dark-green !important;
}
article .lot-details {
    width: 100%;
    flex: auto;
    display: block;
    font-size: 13px;
    border-top: 1px solid #ccc;
    padding: 5px 0 10px 0;
    margin-top: 5px;
    min-height: 56px !important;
}
a.btn-situation {
    background: none !important;
    color: @dark-green !important;
}
.wrapper-full h1 {
    color: #3e5660;
    font-size: 25px;
    line-height: 30px;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 0 0 30px 0;
}
.wrapper-full p {
    color: #3e5660;
    font-size: 14px;
    line-height: 17px;
}
section.vignette-lots {
  padding-top:0px !important;
  justify-content: space-between !important;
}
#main-content .view-switcher.list-lot-page {
    top: -65px !important;
    right: -10px !important;
}
.status-color-bullet {
  top:1px !important;
}
.table-lots {
    margin-bottom: 30px !important;
}
#table_list_lots > tbody tr td:last-child {
    background-color: none !important;
}
#list-lot-container {
  font-family: 'Montserrat-light';
}
#list-lot-container p {
  font-family: 'Montserrat-light';
}
article .lot-title {
  font-family: 'Montserrat-medium';
}
article .lot-status {
    align-items: center !important;
    display: flex !important;
}
p {
  font-family: 'Montserrat-light';
}
h1, h2, h3, h4 {
  font-family: 'Montserrat-medium';
  font-weight:lighter;
}